<%= simple_form_for :prompt, url: { action: :submit_question }, method: :post, html: { class: "w-100" } do |f| %>
  <div class="mb-2 d-flex">
    <%= f.collection_select :prompt_content, @prompts, :content, :name, { prompt: { include_blank: "Choisir un prompt" } }, { class: "form-select me-2" } %>
    <%= f.file_field :pdf_file, id: "pdfFile", class: "form-control" %>
  </div>
  <div class="mb-2 d-flex">
    <%= f.text_area :user_question, id: "userQuestion", placeholder: "Poser une question", class: "form-control me-2", rows: 3 %>
    <%= f.button :submit, "Envoyer", class: "btn btn-primary" %>
  </div>
<% end %>
